
<section class="section">
  <div class="container">
    <h1 class="title">Top Selling Video Games</h1>
      <%= form_tag(videogames_path, method: :get, class: 'field has-addons') do %>
        <div class="control">
          <%= text_field_tag :search, params[:search], class: 'input', placeholder: 'Search by name...' %>
        </div>
        <div class="control">
          <%= button_tag(type: 'submit', class: 'button is-primary') do %>
            Search
          <% end %>
        </div>
    <% end %>
    <% if @videogames.any? %>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <%= paginate @videogames,window:2 %>
    </nav>
    <div class="columns is-multiline">
      <% @videogames.each do |videogame| %>
        <div class="column is-one-third">
          <div class="box">
            <p class="subtitle">Rank: <%= videogame.rank %></p>
            <p class="title">
              <%= link_to videogame.name, videogame, class: 'has-text-info' %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <% else %>
      <p>No results found.</p>
    <% end %>
  </div>
</section>