<%= render @videogame %>

<p><strong>Genre:</strong>
  <% if @videogame.genre %>
    <%= link_to @videogame.genre.name, genre_path(@videogame.genre) %>
  <% else %>
    N/A
  <% end %>
</p>

<p><strong>Publisher:</strong>
  <% if @videogame.publisher %>
     <%= link_to @videogame.publisher.name, publisher_path(@videogame.publisher) %>
  <% else %>
    N/A
  <% end %>
</p>

<p><strong>Platform:</strong>
  <% if @videogame.platform %>
     <%= link_to @videogame.platform.name, platform_path(@videogame.platform) %>
  <% else %>
    N/A
  <% end %>
</p>

<% @regions.each do |region| %>
  <p>
    <strong><%= link_to region.name, region_path(region) %> Sales:</strong>
    <% region_videogame = @videogame.region_videogames.find_by(region: region) %>
    <%= region_videogame.sales if region_videogame %> million
  </p>
<% end %>