<%= render @videogame %>


<p><strong>Genre:</strong> <%= @videogame.genre.name if @videogame.genre %></p>
<p><strong>Publisher:</strong> <%= @videogame.publisher.name if @videogame.publisher %></p>
<p><strong>Platform:</strong> <%= @videogame.platform.name if @videogame.platform %></p>
<% @regions.each do |region| %>
  <% region_videogame = @videogame.region_videogames.find_by(region: region) %>
  <p><strong><%= region.name %> Sales:</strong> <%= region_videogame.sales if region_videogame %> million</p>
<% end %>