<%= link_to "Back to Regions", regions_path%>

<h2 class="title is-2">Top Sold Video Games in <%= @region.name %></h2>


 <div class="columns is-multiline">
      <% @region.region_videogames.order(sales: :desc).each do |region_videogame| %>
        <div class="column is-one-third">
          <div class="box">
            <p class="subtitle">Rank: <%= region_videogame.videogame.rank %></p>
            <p class="title">
              <%= link_to region_videogame.videogame.name, region_videogame.videogame, class: 'has-text-info' %>
            </p>
            <p><%= @region.name %> Sales: <%= region_videogame.sales || 'N/A' %> million</p>
          </div>
        </div>
      <% end %>
  </div>
