
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      Home
    <% end %>
    <%= link_to about_path, class: 'navbar-item' do %>
      About
    <% end %>
    <%= link_to videogames_path, class: 'navbar-item' do %>
      Video Games
    <% end %>
        <%= link_to genres_path, class: 'navbar-item' do %>
      Genres
    <% end %>
    <%= link_to publishers_path, class: 'navbar-item' do %>
      Publishers
    <% end %>
    <%= link_to platforms_path, class: 'navbar-item' do %>
      Platforms
    <% end %>
    <%= link_to regions_path, class: 'navbar-item' do %>
      Regions
    <% end %>
  </div>
</nav>